*{margin:0; padding:0; box-sizing: border-box;}
ul, li{list-style: none;} 
a{
    text-decoration: none;
    user-select: none; /*사용자가 글자를 선택할 수 없음*/
}   
table{border-collapse: collapse;} /*셀과 셀 사이의 여백 제거*/
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    }

    /*commons 공통속성*/
    .container{
        width: 1300px;
        margin: auto;
    }

    ::placeholder{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 400;
    }

    